{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ profile.user }}'s public profile{% endblock %}
{% block customjs %}
{% if profile.geopoint %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ APIKEY }}"></script>
<script type="text/javascript">google.load("maps", "2");</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.3.pack.js"></script>
<script type="text/javascript">
	$(function() {
  	if (google.maps.BrowserIsCompatible()) {
      var map = new google.maps.Map2(document.getElementById("map"));
    	map.addControl(new google.maps.LargeMapControl());
    	map.addControl(new google.maps.OverviewMapControl())
    	map.addControl(new google.maps.MapTypeControl())
    	map.enableContinuousZoom();
    	map.setCenter(new google.maps.LatLng({{ profile.geopoint.lat }}, {{ profile.geopoint.lon }}), 4);
    	var marker = new google.maps.Marker(new google.maps.LatLng({{ profile.geopoint.lat }}, {{ profile.geopoint.lon }}), {clickable: false });
    	map.addOverlay(marker);
    }
	});
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>Public profile of {{ profile.user }}</h1>
<div class="vcard">
	<ul>
		<li><img width="96" height="96" src="{{ profile.avatar }}" /></li>
  	<li>{% trans "Username" %}: {{ profile.user }}</li>
		{% if profile.firstname %}<li>{% trans "Name" %}: {{ profile.firstname }} {{ profile.surname }}</li>{% endif %}
  	{% if profile.url %}<li>{% trans "Url" %}: <a href="{{ profile.url }}">{{ profile.url }}</a></li>{% endif %}
  	{% if profile.about %}<li>{% trans "About" %}: {{ profile.about }}</li>{% endif %}
		{% if profile.gender %}<li>{% trans "Gender" %}: <img src="{{ profile.get_genderimage_url }}" /></li>{% endif %}
		{% if profile.country %}<li>{% trans "Country" %}: {{ profile.country }}</li>{% endif %}
		{% if profile.location %}<li>{% trans "Location" %}: {{ profile.location }}</li>{% endif %}
		{% if profile.latitude and profile.longitude %}
		{% endif %}
	</ul>
</div>
<div id="map"></div>
{% endblock %}

